    /* Core styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap');


:root{
    --Roboto: 'Roboto', sans-serif;
    --RobotoCondensed: 'Roboto Condensed', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-width: 1120px;
    padding-left: 20;
    padding-right: 20px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--Roboto);
    letter-spacing: 0.5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section-button{
    background-color: #ff7500;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    font-family: var(--roboto);
    border-radius: 4px;
    height: 39px;
    width: 155px;
    border: none;
    padding: 12px 24px;
    transition:all .3s; 
}

.section-button:hover{
    background-color: #ff9133;
}

    /* header section styles */
.header-section{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    border-top: 5px solid #fe7500;
    color: #fff;
}

.header-section__right{
    display: flex;
    align-items: center;
}

.navigation__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.navigation__link{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
}

.navigation__link:hover{
    color: #ff9740;
}

    /* hero-section */

.hero-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #252420;
    color: #fff;
}    

.orange-hr{
    width: 80px;
    height: 3px;
    background-color: #fe7500;
    border: none;
}

.hero-section__left{
    width: 390px;
}

.hero-section__title{
    font-family: var(--RobotoCondensed);
    font-size: 40px;
    line-height: 120%;
}

.hero-section__subtitle{
    
}

.hero-section__right{
    /* padding-left: 203px; */
} 

.hero-section__image{
    width: 510px;
    height: 510px;
}

    /* Books section styles */
.books-section__items{
    display: flex;
    justify-content: space-between;

    list-style: none;
}

.books-section__icon{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffe3cc;
}

.books-section__title{
    width: 440px;
    line-height: 1.2;
    font-family: var(--RobotoCondensed);
    font-size: 72px;
    letter-spacing: 0.5px;
}    

.books-section__item{
    width: 340px;
}

.books-section__subtitle{
    font-size: 24px;
    line-height: 120%;
    font-family: var(--RobotoCondensed);
    color: #000;
    font-weight: bold;
}

.books-section__info{
    width: 314px;
    font-weight: normal;
    color: #000;
}


    /* Shares section */
.shares-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #252420;
    color: #fff;
}

.shares-section__left{
    width: 440px;
}

.shares-section__title{
    width: 373px;
    font-family: var(--RobotoCondensed);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
}    

.shares-section__subtitle{
  
}

.shares-highlight{
    color: #ff7500;
}

.shares-section__image img{
    width: 440px;
    height: 440px;
    object-fit: cover;
}


    /* Footer section styles */

.footer-section{
    background-color: #f8f8f8;
}

.footer-section__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons__list{
    display: flex;
    justify-content: space-between;
}

.social-icons__item{
    list-style: none;
}
    
.footer-hr{
    height: 2px;
    background-color: rgba(37, 36, 32, 0.5);
}    

.footer-section__bottom{
    display: flex;
    justify-content: space-between;
}

.footer-items{
    line-height: 19px;
    width: 224px;
}

.footer-item{
    list-style: none;
}

.footer-link{
    color: #252420;
    text-decoration: none;
}