    /* Core styles */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&family=Roboto:wght@400;500;700&display=swap');


:root{
    --Roboto: 'Roboto', sans-serif;
    --RobotoCondensed: 'Roboto Condensed', sans-serif;
}

html{
    scroll-behavior: smooth;
}

.container{
    width: 100%;
    max-width: 1140px;
    padding-left: 20;
    padding-right: 20px;
    margin: 0 auto;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    font-family: var(--Roboto);
    letter-spacing: 0.5px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: 2px dotted #ff7500;
    outline-offset: 3px;
}

.section-button{
    background-color: #ff7500;
    color: #fff;
    font-size: 13px;
    line-height: 15px;
    padding: 12px 24px;
    border: none;
    border-radius: 4px;
    font-family: var(--roboto);
    font-weight: bold;
    letter-spacing: 0.5px;
    transition: opacity 0.4s ease;
}

.section-button:hover{
    opacity: 0.8;
}

.section-button:active{
    opacity: 0.6;
}

    /* header section styles */
.header-section{
    border-top: 5px solid #fe7500;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
}

.header-section-container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

.logo-link{
    transition: opacity 0.4s ease;
}

.logo-link:hover{
    opacity: 0.8;
}

.logo-link:active{
    opacity: 0.6;
}

.site-header__right{
    display: flex;
    align-items: center;
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;
    margin-right: 32px;
}

.navigation-item{
    margin-right: 32px;
}

.navigation-item:last-child{
    margin-right: 0;
}

.navigation__link{
    text-transform: uppercase;
    font-weight: 500;
    line-height: 15px;
    font-size: 13px;
    letter-spacing: 1px;
    text-decoration: none;
    color: #000;
    transition: color 0.4s ease, opacity 0.4s ease;
}

.navigation__link:hover{
    color: #ff7500;
}

.navigation__link:active{
    opacity: 0.6;
}

    /* hero-section */
.hero-section{
    position: relative;
    background-color: #252420;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}    

.hero-section-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.orange-hr{
    width: 80px;
    height: 3px;
    background-color: #fe7500;
    border: none;
    margin: 0;
    margin-bottom: 40px;
}

.hero-section__title{
    margin-top: 0;
    margin-bottom: 24px;
    font-family: var(--RobotoCondensed);
    font-size: 40px;
    line-height: 120%;
    width: 339px;
}

.hero-section__subtitle{
    width: 387px;
    margin-top: 0;
    margin-bottom: 32px;
}
 
.hero-section__image{
    left: 820px;
    top: 62px;
    position: absolute;
    width: 510px;
    height: 510px;
    border-radius: 8px;
    box-shadow: 24px 24px 0px 0px rgba(255, 117, 0, 0.6);
}

    /* Books section styles */
.books-section{
    padding-top: 210px;
    padding-bottom: 210px;
}

.books-section-hr{
    width: 80px;
    height: 3px;
    background-color: #fe7500;
    border: none;
    margin: 0;
    margin-bottom: 24px;
}

.books-section__items{
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 40px;
}

.books-section__item{
    width: 340px;
    margin-right: 40px;
}

.books-section__item:last-child{
    margin-right: 0;
}

.books-section__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffe3cc;
    margin-bottom: 32px;
    cursor: pointer;
}

.books-section__title{
    width: 440px;
    line-height: 1.2;
    font-family: var(--RobotoCondensed);
    font-size: 72px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 72px;
}    

.books-section__subtitle{
    font-size: 24px;
    line-height: 120%;
    font-family: var(--RobotoCondensed);
    color: #000;
    font-weight: bold;
    margin-bottom: 12px;
    margin-top: 0;
}

.books-section__info{
    width: 314px;
    font-weight: normal;
    color: #000;
}

    /* Shares section styles */
.shares-section{
    position: relative;
    padding-top: 120px;
    padding-bottom: 160px;
}

.shares-section-promo-inner{
    border-radius: 12px;
    background-color: #252420;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    color: #fff;
}

.shares-section__left{
    width: 440px;
}

.shares-section__title{
    width: 373px;
    font-family: var(--RobotoCondensed);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: 0.5px;
    margin-top: 0;
    margin-bottom: 24px;
}    

.shares-section__subtitle-wrapper{
    margin-top: 0;
    margin-bottom: 24px;
}

.shares-section__subtitle{
    margin-bottom: 12px;
    margin-top: 0;
}

.shares-section__subtitle:last-child{
    margin-bottom: 0;
}

.shares-highlight{
    color: #ff7500;
}

.shares-section__image img{
    width: 440px;
    height: 440px;
    object-fit: cover;
    border-radius: 12px;
    position: absolute;
    left: 806px;
    top: 35px;
}

    /* Footer section styles */

.footer-section{
    background-color: #f8f8f8;
    padding-top: 56px;
    padding-bottom: 56px;
}

.footer-section__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social-icons__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: none;
    margin: 0;
}

.social-icons__item{
    list-style: none;
    margin-right: 16px;
}

.social-icons__item:last-child{
    margin-right: 0;
}

.social-icons__link{
    color: #252420;
    width: 54px;
    height: 54px;
}

.social-icons__link:last-child{
    margin-right: 0;
}

.social-icons__link:hover{
    color: #ff7500;
}

.social-icons__link:active{
    opacity: 0.6;
}
    
.footer-hr{
    height: 2px;
    border: none;
    background-color: rgba(37, 36, 32, 0.5);
    margin-top: 40px;
    margin-bottom: 64px;
}    

.footer-section__bottom{
    display: flex;
    /* justify-content: space-between; */
}

.footer-items{
    line-height: 19px;
    width: 224px;
    padding: none;
    list-style: none;
    margin: 0;
    margin-right: 68px;
}

.footer-items:last-child{
    margin-right: 0;
}

.footer-item{
    list-style: none;
    margin-bottom: 16px;
}

.footer-item:last-child{
    margin-bottom: 0;
}

.footer-link{
    color: #252420;
    text-decoration: none;
}

.footer-link:hover{
    color: #ff7500;
}

.footer-link:active{
    opacity: 0.7;
}





