html{
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
}

*{
    margin: 0;
    padding: 0;
}

    /*navigation section styles*/

.navigation{
    display: flex;
    background-color: #fff;
    height: 90px;
    width: 1440px;
    padding: 16px 170px 16px 170px;
    top: 5px;
    justify-content: space-between;
    align-items: center;
    
}    